
.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.space-around {
	justify-content: space-around;
}

.space-between {
	justify-content: space-between;
}

.tab-container {
	height: 20%;
}

.height-70vh {
	height: 70vh;
}

.height-100vh {
	min-height: 100vh;
}

.black-border {
	border: none;
	margin-left: 35%;
	margin-right: 35%;
	background-color: #06305fcc;
}

.big-title {
	font-size: 80px;
    font-weight: 800;
}

.smal-title{
	font-size: 40px;
}

.white-text{
	color: white;
}

.function-button{
	background: white !important;
	border: none !important;
	color: black !important;
	width: 100px;
}


.input-container {
	height: 20vh;
}

.menu-container {
	background-color: #06305fcc;
}

.content-container {
	
}

.ava-container {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: white;
	display: flex;
	align-items: center;
}


.user-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fa-sign-in:before {
	color: white;
}

.product-title{
	padding-top: 10px;
	padding-bottom: 20px;
}

.ui-confirm-dialog-severity {
    display: none !important;
}

.center-but{
	display: flex;
    justify-content: center;
}